// custom variable values
$primary: #c29938;

$light: #fbf5e5;

// import the functions & variables
@import "../../node_modules/bootstrap/scss/functions";
@import "../../node_modules/bootstrap/scss/_variables";

// custom theme colours
$custom-theme-colors: (
  "altlight": #f2ebfa,
  "altdark": #522192,
  );
 
  
  html, body {
  max-width: 100%;
  overflow-x: hidden;
  background-color: #fbf5e5;
  }

// merge the maps to add new theme colors
$theme-colors: map-merge($custom-theme-colors, $theme-colors);

// import bootstrap
@import '../../node_modules/bootstrap/scss/bootstrap';

.mg-comments {
  margin-bottom: 1rem;
}


// @media screen and (min-width: 280px) and (max-width: 374px) {
//   body {
//     margin-left: 3%;
//   }
// }
  .nav-bar-e {
    max-width: 80%;
    font-size: 1.1rem;
    margin-right: 1%;
    
  }
  .nav-border {
    border-color: #e0080800 !important;
    padding: 0% !important;
    margin-left: auto !important;
  }
  


// @media screen and (min-width: 375px) and (max-width: 429px) {
//   body {
//     margin-left: 3%;
//   }
// }

  



@media screen and (min-width: 430px) and (max-width: 767px) {
  body {
    margin-left: 2%;
  }
  
}